{
  "presets": ["react-native", "flow"],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }
    ],
    "babel-plugin-transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
